MONGO_URI=your_mongodb_connection_string
PORT=3000
BACKUP_MASTER_KEY_ID=backup-master-v1
BACKUP_MASTER_PUBLIC_KEY=serialized_rsa_public_key_json
BACKUP_MASTER_PRIVATE_KEY=serialized_rsa_private_key_json
ACCESS_TOKEN_SECRET=replace_with_strong_access_secret
REFRESH_TOKEN_SECRET=replace_with_strong_refresh_secret
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=604800
TWO_FACTOR_OTP_TTL_SECONDS=300
